.calendar {
    max-width: 304px;
    padding: 28px 26px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}
.calendar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    text-align: center;
    margin-bottom: 24px;
}
.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}
.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__item {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #334D6E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar__item_day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;
}
.calendar__item_day-grey {
    background: rgba(160, 177, 245, .2);
}
.calendar__item_holiday {
    background: #4263EB;
    color: #fff;
}