.skeleton {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}
.skeleton__top {
    display: flex;
    gap: 0 16px;
}
.skeleton__text-block {
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}
.skeleton__bottom {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}
.skeleton__icon {
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 50%;
}
.skeleton__text {
    width: 100%;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
.mb_24 {
    margin-bottom: 24px;
}
.st_width-50 {
    width: 50%;
}
.st_width-30 {
    width: 30%;
}
