.burger-menu-button {
    position: absolute;
    left: 16px;
}
.icon {
    width: 24px;
    height: 24px;
}
.burger-menu-button .icon {
    color: var(--grey-4);
}
.burger-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: #F9FAFC;
    transition: all 350ms linear;
}
.burger-menu[data-open] {
    transform: translateX(0%);
}
.burger-menu__header {
    position: relative;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-menu__close {
    background-color: var(--grey-2);
    border-radius: 16px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}