.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input {
    width: 350px;
}
.input__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    margin-bottom: 11px;
}
.input__wrapper {
    position: relative;
}
.input__wrapper input {
    width: 100%;
    padding:  17px 16px 17px 24px;
    border-radius: 8px;
    border: 1px solid var(--grey-2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
    box-sizing: border-box;
}
.input__wrapper input:focus {
    outline: none;
    border-color: #4263EB;
}
.input__wrapper input::placeholder {
    color: var(--grey-2);
}
.input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}
.input_success .input__icon {
    background: url("img/success.svg");
    width: 24px;
    height: 24px;
}
.input_invalid .input__icon {
    background: url("img/error.svg");
    width: 24px;
    height: 24px;
}
.input_invalid input {
    border-color: #F03D3E;
}

